.AllInOne {
    margin: 100px 0px;
}

.AllInOne h1 {
    font-size: 62px;
    text-align: center;
    font-weight: bold;
}

.AllInOne h2 {
    font-size: 32px;
    font-weight: bold;
}

.AllInOne p {
    font-size: 19px;
}

.AllInOne button {
    padding: 10px 23px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 23px;
    background-color: white;
    font-weight: bold;
    color: #007aff;
}

.AllInOne button.getPremiumBtn {
    background-color: #F04124;
    color: white;
    border: none;
}